
body{
  background-color:aliceblue;
}
.navbar
{
  background-color:#ececec !important ;
  padding: 20px;
}
.nav-link
{
  color: #265A5C !important;
  font-weight: 600;
  padding-top: 1em;
  font-size: 17px;
}
.navbar-brand
{
  font-size: 30px !important;
  font-weight: 600;
  color: #3F7B70!important;
}
.row{
  justify-content: space-around;
  align-items: center;
}

.card {
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  /* padding: 0px; */
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:nth-of-type(1){
  height: 350px;
  border-top: 15px solid #3F7B70;
  border-bottom-left-radius: 20%;
  border-top-left-radius: 20%;
}

.card:nth-of-type(2){
  border-radius: 5%;
  border-top: 15px solid #265A5C;
}

.card:nth-of-type(3){
  height: 350px;
  border-top: 15px solid #3F7B70;
  border-bottom-right-radius: 20%;
  border-top-right-radius: 20%;
}

@media only screen and (max-width: 768px){
  .card:nth-of-type(1){
    height: 400px;
    border-top: 15px solid red;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
  }
  
  .card:nth-of-type(2){
    height: 400px;
    border-top: 15px solid blue;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
  }
  
  .card:nth-of-type(3){
    height: 400px;
    border-top: 15px solid green;
    border-radius: 15%;
  }
}

@media only screen and (max-width: 576px){
  .card:nth-of-type(1){
    border-top: 15px solid red;
    border-radius: 15%;
  }
  
  .card:nth-of-type(2){
    border-top: 15px solid blue;
    border-radius: 15%;
  }
  
  .card:nth-of-type(3){
    border-top: 15px solid green;
    border-radius: 15%;
  }
}

.main-heading {
  padding-top: 1%;
}

.sub-heading {
  padding-top: 1%;
  padding-bottom: 2%;
}

.content{
    padding-bottom: 5%;
}


.container {
  padding: 2px 16px;
}

.main-footer {
  width: 100%;
  background-color: #DDDDDD;
  color:#265A5C;
  padding-bottom :30px;

}

.footer-sections {
  text-align: left;
  margin-top: 3%;
}

.footer-content {
  font-size: 12px;
  padding-top: 3%;
  margin: auto;
}

.footer-about-us-content {
  text-align: left;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.footer-content a {
  text-decoration: none;
  color: lightblue;
}

.footer-content:nth-of-type(1) {
  padding-right: 8%;
}

.footer-ending {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .footer-copyright {
    padding-right: 50%;
  } */

.footer-social-media {
  font-size: 25px;
}
.social-icon {
  width: 40px;
  height: 40px;
  padding: 7px 0;
  text-align: center;
  border-radius: 50%;
  color: #3F7B70;
  transition: all 0.2s ease-in;
}
#hyp {
  text-decoration: none;
  color:#265A5C;
}
#hyp:hover {
  color:#3F7B70;
}
.fa-facebook:hover {
  color: rgb(24, 24, 214);
}
.fa-instagram:hover {
  color: rgb(224, 57, 135);
}
.fa-twitter:hover {
  color: rgb(47, 196, 255);
}
.fa-youtube:hover {
  color: rgba(202, 17, 0, 0.904);
}
.darkmode--activated .fa-facebook:hover {
  color: rgb(193, 223, 23);
}
.darkmode--activated .fa-instagram:hover {
  color: rgb(30, 172, 42);
}
.darkmode--activated .fa-twitter:hover {
  color: rgb(167, 12, 12);
}
.darkmode--activated .fa-youtube:hover {
  color: rgba(20, 216, 230, 0.904);
}
.darkmode--activated .card.col-12.col-sm-10.col-md-3 {
  background-color: rgb(218, 216, 216);
}
.darkmode--activated .card.col-12.col-sm-5.col-md-4 {
  background-color: rgb(218, 216, 216);
}
.darkmode--activated .card.col-12.col-sm-5.col-md-3 {
  background-color: rgb(218, 216, 216);
}