* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  body {
    font-family: Raleway;
    background-color: aliceblue;
  }
  
  .heading {
      text-align: center;
      font-size: 2.0em;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      letter-spacing: 2px;
      padding: 8px;
      margin: 3%;
      margin-top: 0%;
      color: black;
  }

  .subheading {
    text-align: center;
      font-size: 1.0em;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      letter-spacing: 2px;
      padding: 2px;
      margin: 2%;
  }
  a {
    color: gray;
    margin-left: 10px; margin-right: 10px;
  }
  
  .gallery-image {
    padding: 10px;
    padding-left: 80px; padding-right: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-image img {
    height: 200px;
    width: 250px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 11px;
    height: 200px;
    width: fit-content;
    overflow: hidden;
    display: inline-block;
    color: white;
    border-color: black;
    position: relative;
    background-color: black;
    border-width: medium;
    border-radius: 4%;
    border-right-style: solid; border-top-style: solid;
    
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 200px;
    width: 500px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }

  #campus {
    height: 200px;
    width: 400px;
  }
  #Crotonia {
    height: 200px;
    width: 400px;
  }
  #library {
    height: 200px;
    width: 400px;
  }
  .hyper
  {
    text-decoration: none;
  }