html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
  }
  
  .container {
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }
    
    .left-side, .right-side {
      flex: 1 1 0;
    }
  
  
  .left-side {
    overflow: hidden;
    position: relative;
  }
    
    .left-side-bg {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      right: 0px;
      z-index: 2;
      opacity: 0.7;
      background: #7ADDD6; 
      background: linear-gradient(#ecd77a, #f1df75);
    }
      
      .company-name {
        margin: 30px;
        font-size: 40px;
        font-family:'Times New Roman', Times, serif;
        color: #000;
        opacity: 1.0;

      }
    hr{
        height: 1px;
        background-color: rgb(255, 255, 255);
        border: none;
        padding: 0px;
        width: 40%;
    }
    #hr1{
        width: 35%;
    }
    
    .left-side-img {
      width: inherit;
      height: 100%;
      position: relative;
      z-index:1;
    }
  
  
  .right-side {
    position: relative;
    z-index: 3;
    /* Blue Whale */
    /* For browsers that don't support gradients */
    background: #093548; 
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#15657E, #093548); 
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#15657E, #093548); 
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#15657E, #093548); 
    background: linear-gradient(#15657E, #093548);
  }
    
    .btn-header {
        font-family: Helvetica, sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        color: #FAFAFA;
        border-style: none;
        border-bottom: 1px solid #47C1B9;
        background-color: transparent;
        padding: 10px 0px;
        border-radius: 0px;
    }
      
        .btn-header:active, .btn-header:focus, .btn-header:hover, .btn-header.active {
          border: none;
          box-shadow: none;
          border-bottom: 1px solid #47C1B9;
          background-color: transparent;
          outline: none;
          color: #47C1B9;
        }
    
  
  
 
  .sign-in-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 15%;
    background: transparent;
    color: #FFF;
  }
    
    .sign-in {
      width: 50%;
      float: left;
    }
  
    .sign-up {
      width: 50%;
      overflow: hidden;
    }
    
    a {
      color: #FFF;
      text-decoration: none;
    }
      
      a:active, a:hover {
        border-bottom: 1px solid #37B9B1;
      }
    
    
    
    .sign-up-information-container {
      transition: display .5s ease;
      height: 75%;
      width: 100%;
      margin-top: 80px;
    }
      
      .prompt-field {
         font-size: 16px;
         margin-top: 38px;
         margin-bottom: 25px;
      }
      
      input[type="password"]
      {
        -webkit-text-security: disc;
      }
  
      .input-field {

        width: 100%;
        font-size: 20px;
        letter-spacing: 0.5px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #A09F9F;
        color: #A09F9F;
        padding: 5px;
      }
    
        .input-field:active, .input-field:focus {
          border: none;
          border-bottom: 1px solid #A09F9F;
          outline-color: transparent;
        }
      
      
      .terms-container {
        margin-top: 38px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
      }
  
      .terms-prompt {
        margin-left: 5px;
      }
      
      .btn-signup {
        font-family: Helvetica, sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        color: #FAFAFA;
        border: none;
        background-color: #47C1B9;
        margin-top: 68px;
        padding-top: 15px;
        padding-bottom:15px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 8px;
      }
        
        .fa {
          font-size: 12px;
        }
        
        .fa:before {
          padding-left: 10%;
        }
      
    
  
  
  .login-font {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #FAFAFA;
  }